body {
  background-color: #eee;
}

#todoList {
  background: #fff;
  list-style: none;
  padding: 0;
  filter: drop-shadow(3px 3px 2px #ccc);
  max-width: 350px;
}

h1 {
  font-size: 1rem;
}

#addTask {
  border: none;
  font-style: italic;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.task {
  border-bottom: solid #ccc 1px;
  padding: 10px;
}

#add {
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#enter {
  border: none;
  background: inherit;
  padding: 0 10px 0 0;
  height: 35px;
  width: 35px;
}
